@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Gilroy";

  font-display: swap;
  src:
    url("../fonts/gilroy-medium.woff2") format("woff2"),
    url("../fonts/gilroy-medium.woff") format("woff");
}


@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Gilroy";

  font-display: swap;
  src:
    url("../fonts/gilroy-regular.woff2") format("woff2"),
    url("../fonts/gilroy-regular.woff") format("woff");
}


@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Gilroy";

  font-display: swap;
  src:
    url("../fonts/gilroy-semibold.woff2") format("woff2"),
    url("../fonts/gilroy-semibold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "OpenSans";

  font-display: swap;
  src:
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
}


@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Sofia Pro";

  font-display: swap;
  src:
    url("../fonts/SofiaProRegular.woff2") format("woff2"),
    url("../fonts/SofiaProRegular.woff") format("woff");
}


@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Sofia Pro";

  font-display: swap;
  src:
    url("../fonts/SofiaProBold.woff2") format("woff2"),
    url("../fonts/SofiaProBold.woff") format("woff");
}


@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Sofia Pro";

  font-display: swap;
  src:
    url("../fonts/SofiaProBlack.woff2") format("woff2"),
    url("../fonts/SofiaProBlack.woff") format("woff");
}
