$desktop-l: 1439px;
$desktop-m: 1023px;
$tablet-width: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font: "Gilroy", "Arial", sans-serif;

$transition-props: 0.2s ease;

$black: #000000;
$white: #ffffff;
$red: #ef2779;

